<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      header {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }

      .header-left {
        margin-left: 10px;
      }

      .header-right {
        margin-right: 10px;
      }

      h1 {
        font-size: 40px;
        margin: 0;
      }

      button {
        background-color: #999;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
        font-size: 20px;
      }

      button:hover {
        background-color: #999;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header-left">
        <h1>Todo App</h1>
      </div>
      <div class="header-right">
        <button id="login-button" href="/login"><a href="/login">Login</a></button>
        <button id="signup-button" href="/signup"><a href="/signup">Sign Up</a></button>
      </div>
    </header>
  </body>
</html>